<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient1:</strong>
  <%= @recipe.ingredient1 %>
</p>

<p>
  <strong>Ingredient2:</strong>
  <%= @recipe.ingredient2 %>
</p>

<p>
  <strong>Ingredient3:</strong>
  <%= @recipe.ingredient3 %>
</p>

<p>
  <strong>Ingredient4:</strong>
  <%= @recipe.ingredient4 %>
</p>

<p>
  <strong>Ingredient5:</strong>
  <%= @recipe.ingredient5 %>
</p>

<p>
  <strong>Ingredient6:</strong>
  <%= @recipe.ingredient6 %>
</p>

<p>
  <strong>Ingredient7:</strong>
  <%= @recipe.ingredient7 %>
</p>

<p>
  <strong>Ingredient8:</strong>
  <%= @recipe.ingredient8 %>
</p>

<p>
  <strong>Ingredient9:</strong>
  <%= @recipe.ingredient9 %>
</p>

<p>
  <strong>Ingredient10:</strong>
  <%= @recipe.ingredient10 %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
